*__pycache__*
__pycache__/
# this doesn't seem to work
*.py[cod]
# added this line
*.pyc
*__init__*
app/user-generated-inputs/*
!app/user-generated-inputs/README.txt
# ignore visual studio code settings
app/.vscode/settings.json
.vscode/settings.json
app/app-data.json
app/GISdata/*
!app/GISdata/Readme.md
app/map-data.json
app/report-data.json
app/VAGMD_design_output.json
SAM/__pycache__/__init__.cpython-37.pyc
SAM/__pycache__/PySSC.cpython-37.pyc
SAM_flatJSON/__pycache__/__init__.cpython-37.pyc
SAM_flatJSON/__pycache__/*
SAM_flatJSON/results/VAGMD_cost_output.json
SAM_flatJSON/results/VAGMD_simulation_output.json
SAM_flatJSON/results/*
.ipynb_checkpoints/Untitled-checkpoint.ipynb
*.xml
*.ini
.vscode/*



app/GISdata/Readme.md
app/GISdata/Readme.md
app/gen.csv
