*__pycache__*
# this doesn't seem to work
*.py[cod]
# added this line
*.pyc
*__init__*
app/user-generated-inputs/*
!app/user-generated-inputs/README.txt
#local copies of files can be ignored with _OLD in the name
*_OLD
# ignore visual studio code settings
app/.vscode/settings.json

*.pyc
app/display-results-app_old.py
.vscode/settings.json
app/GISdata/zcta.geojson.metadata.xml
