*__pycache__*
__pycache__/
# this doesn't seem to work
*.py[cod]
# added this line
*.pyc
*__init__*
app/user-generated-inputs/*
!app/user-generated-inputs/README.txt
# ignore visual studio code settings
app/.vscode/settings.json
.vscode/settings.json
app/GISdata/*
!app/GISdata/Readme.md
app/map-data.json
app/report-data.json
app/VAGMD_design_output.json
SAM/__pycache__/__init__.cpython-37.pyc
SAM/__pycache__/PySSC.cpython-37.pyc
SAM_flatJSON/__pycache__/__init__.cpython-37.pyc
SAM_flatJSON/__pycache__/*
SAM_flatJSON/results/VAGMD_cost_output.json
SAM_flatJSON/results/VAGMD_simulation_output.json
SAM_flatJSON/results/*
SAM_flatJSON/parametric_results/*
!SAM_flatJSON/parametric_results/README.txt
.ipynb_checkpoints/Untitled-checkpoint.ipynb
*.xml
*.ini
.vscode/*
app/GISdata/Readme.md
app/gen.csv
utils/test_read_rtree.py
GISQueryData/*
utils/county.dat
utils/county.idx
utils/rtree.dat
utils/rtree.idx
utils/rtree.dat
utils/rtree.idx
app/logs/applog.log
app/.DS_Store
.DS_Store
app/logs/applog.log
utils/rtree.dat
app/assets/*
!app/assets/images
!app/assets/docs
app/global_water_tarrifs.geojson
app/global_water_tarrifs.kdtree
app/logs/applog.log
SAM_flatJSON/solar_resource/global_weather_files.csv
SAM_flatJSON/solar_resource/tucson_az_32.116521_-110.933042_psmv3_60_tmy.csv
SAM_flatJSON/solar_resource/USA_AZ_tucson_32.116521_-110.933042_psmv3_60_tmy.csv
SAM_flatJSON/XLS results/Project_1_output_2021-03-11_13-34-54.xls
SAM_flatJSON/XLS results/Project_1_output_2021-05-04_13-09-34.xls
tmp/desal_plants.geojson
tmp/Desalplants.CPG
tmp/Desalplants.dbf
tmp/Desalplants.kdtree
tmp/Desalplants.prj
tmp/Desalplants.shp
tmp/Desalplants.shx
utils/generate_weather_station_points.py
utils/rtree.dat
utils/rtree.idx
utils/xarray_test.py
utils/rtree.dat
utils/rtree.idx
app/logs/applog.log
SAM_flatJSON/solar_resource/tucson_az_32.116521_-110.933042_psmv3_60_tmy.csv
app/logs/applog.log
app/assets/images/._site_selection.png
app/app-data.json
app/app-data.json
app/app-data.json
